.saved-news-header {
  padding: 40px 104px 56px;
}

.saved-news-header__text {
  margin: 0 0 28px;
  font-size: 18px;
  font-weight: normal;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news-header__headline {
  margin: 0 0 30px;
  width: 38%;
  font-family: 'Roboto Slab';
  font-size: 40px;
  font-weight: normal;
  line-height: 1.15;
  color: #1A1B22;
}

.saved-news-header__subline {
  margin: 0;
  font-size: 18px;
  color: #1A1B22;
}

.saved-news-header__highlight {
  font-weight: bold;
}

@media (max-width: 1439px) {
  .saved-news-header {
    padding: 24px 40px 32px;
  }

  .saved-news-header__text {
    margin-bottom: 16px;
    font-size: 14px;
  }

  .saved-news-header__headline {
    width: 49%;
    margin-bottom: 16px;
    font-size: 30px;
  }

  .saved-news-header__subline {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .saved-news-header {
    padding: 16px 16px 32px;
  }

  .saved-news-header__text {
    font-size: 12px;
  }

  .saved-news-header__headline {
    width: 100%;
  }

  .saved-news-header__subline {
    font-size: 18px;
  }
}