@font-face {
  src: url('./SourceSansPro-Regular.woff');
  font-family: 'Source Sans Pro';
  font-weight: normal;
}

@font-face {
  src: url('./Inter-Regular.woff');
  font-family: 'Inter';
  font-weight: normal;
}

@font-face {
  src: url('./RobotoSlab-Regular.woff');
  font-family: 'Roboto Slab';
  font-weight: normal;
}

@font-face {
  src: url('./Roboto-Black.woff');
  font-family: 'Roboto';
  font-weight: 900;
}

@font-face {
  src: url('./Roboto-Medium.woff');
  font-family: 'Roboto';
  font-weight: 500;
}

@font-face {
  src: url('./Roboto-Regular.woff');
  font-family: 'Roboto';
  font-weight: normal;
}