.main-page {
}

.main-page__image-container {
  background: url(../../images/main-page-image.png);
  background-size: cover;
}

.main-page__content {
  color: white;
  padding: 80px 29%;
}

.main-page__headline {
  margin: 0 0 32px;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 0.9;
}

.main-page__subline {
  margin: 0 0 64px;
  font-size: 18px;
  line-height: 1.3;
}

@media (max-width: 1439px) {
  .main-page__content {
    padding: 38px 21% 48px;
  }

  .main-page__headline {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 1.1;
  }

  .main-page__subline {
    margin-bottom: 48px;
  }
}