.navigation {
  display: flex;
  align-items: center;
  height: 100%;
}

.navigation-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin-right: 32px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

.navigation-link_color_dark {
  color: #1A1B22;
  border-bottom: 0 solid #1A1B22;
}

.navigation-link_color_light {
  color: white;
  border-bottom: 0 solid white;
}

.navigation-link_selected {
  border-bottom-width: 3px;
}

@media (max-width: 1439px) {
  .navigation-link {
    margin-right: 16px;
    font-size: 16px;
  }
}