.navigation {
  display: flex;
  height: 100%;
}

.navigation__container {
  display: flex;
  align-items: center;
}

.navigation__page-button {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background: transparent;
  outline: none;
  height: 100%;
  padding: 0;
  margin-right: 32px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

.navigation__page-button_color_dark {
  color: #1A1B22;
}

.navigation__page-button_color_light {
  color: white;
}

.navigation__page-button_selected_dark {
  box-shadow: 0 -3px 0 #1A1B22 inset;
}

.navigation__page-button_selected_light {
  box-shadow: 0 -3px 0 white inset;
}

.navigation__menu-button {
  display: none;
}

.navigation__menu-button_color_dark {
  background-image: url(../../images/hamburger-menu-dark.svg);
}

.navigation__menu-button_color_light {
  background-image: url(../../images/hamburger-menu-light.svg);
}

.navigation__wired-button {
}

@media (max-width: 1439px) {
  .navigation__page-button {
    margin-right: 16px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .navigation__container {
    display: none;
  }

  .navigation__menu-button {
    display: block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    outline: none;
    border: none;
  }

  .navigation__page-button {
    margin: 0;
    font-size: 18px;
    line-height: 3.1;
  }

  .navigation__page-button_selected_dark {
    box-shadow: none;
  }

  .navigation__page-button_selected_light {
    box-shadow: none;
  }

  .navigation__wired-button {
    margin-top: 22px;
  }
}