.button-rounded_type_wired-light {
  border: 1px white solid;
  color: white;
  transition: border-color 0.15s, background-color 0.15s;
}

.button-rounded_type_wired-light:hover {
  border-color: rgba(255, 255, 255, 0.7);
}

.button-rounded_type_wired-light:active {
  background-color: rgba(255, 255, 255, 0.1);
}