.footer {
  background: white;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 104px;
}

.footer__info {
  flex-grow: 1;
  color: #B6BCBF;
  font-size: 16px;
}

.footer__links-container {
  display: flex;
}

.footer__text-list {
  padding: 0;
  margin: 0 47px 0 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.footer__icon-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.footer__text-item {
  margin-right: 30px;
  transition: opacity 0.2s;
}

.footer__text-item:last-child {
  margin-right: 0;
}

.footer__text-item:hover {
  opacity: 0.65;
}

.footer__link {
  text-decoration: none;
  color: #1A1B22;
  font-size: 18px;
}

.footer__image-item {
  margin-right: 25px;
  transition: opacity 0.2s;
}

.footer__image-item:last-child {
  margin-right: 0;
}

.footer__image-item:hover {
  opacity: 0.65;
}

.footer__icon {
  display: block;
}


@media (max-width: 1439px) {
  .footer {
    height: 64px;
    padding: 0 40px;
  }

  .footer__text-list {
    margin-right: 30px;
  }

  .footer__text-item {
    margin-right: 20px;
  }

  .footer__image-item {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .footer {
    height: auto;
    padding: 20px 16px 22px;
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .footer__info {
    flex-grow: 0;
  }

  .footer__links-container {
    margin-bottom: 40px;
    flex-grow: 1;
    justify-content: space-between;
  }

  .footer__text-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__text-item{
    margin-bottom: 30px;
  }

  .footer__text-item:last-child {
    margin-bottom: 0;
  }

  .footer__icon-list {
    align-items: flex-start;
  }
}